<div class="container mt-5">
  <h2>Ajouter un Cours</h2>
  <form #courseForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="name">Nom</label>
      <input [(ngModel)]="newCourse.name" class="form-control" id="name" name="name" required type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea [(ngModel)]="newCourse.description" class="form-control" id="description" name="description"
                required></textarea>
    </div>
    <button [disabled]="!courseForm.valid" class="btn btn-primary" type="submit">Ajouter</button>
    <a class="btn btn-secondary ms-2" routerLink="/courses">Annuler</a>
  </form>
</div>
